/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Lexend", sans-serif;
  background-color: #7a1a1a;
  color: #333;
}

/* Logo */
#mainlogo {
  width: 100px;
  max-width: 75%;
}
/* Hero image ALT text color */
#text-color {
  color: white;
}

/* Navabr styles */

/* Navbar active element, to improve user naviagtion awareness */
.navbar .active {
  border-bottom: 3px solid #ff0000;
}

/* Hover effect for the navbar */
#menu .nav-link:hover {
  border-bottom: 3px solid #ffa500;
}

/* Intro section */

/* Creates a typwritter animation effects 
using width and curser animation*/
.typewriter {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.typewriter h1 {
  text-align: center;
  padding: 20px 10px;
  font-size: 1.5rem;
  margin-inline: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid black;
  animation:
    typing 3s steps(22),
    forwards,
    blink 1s step-end infinite;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* Blinking cursor animation */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Intro subtext */
.intro-sub-text {
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
  padding: 0 20px;
}

/* Intro backdrop-- adds a contratsing background to separate the intro section from 
the rest of the page ---*/

#bk-drop {
  background-color: #ffa500;
  width: 100%;
}

/* Featured section */

#featured {
  color: white;
}

/* Ensures carousel images are properly displayed across 
all devices with a consistent height */

.carousel-item img {
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  padding: 15px 15px;
}

/*  Custom Carousel caption-text background */
.carousel-caption {
  color: #333;
  padding: 0.5rem; 
}

/* Custom background for carousel captions */

.carousel-caption-background {
  background-color: rgba(255, 249, 249, 0.793);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

/* Custom styles for the CTA buttons */
.space-btwn {
  margin: 0 10px; /* Adds horizontal spacing between the buttons */
  padding: 10px 15px; /* Adds padding for better clickability */
}

/* Gallery section */

/* Gallery heading styles */
.gallery-of-eelam {
  text-align: center; /* Centers the heading */
  text-transform: capitalize; /* Capitalizes the first letter of each word */
  color: #ffa500;
  margin-top: 20px;
}


.text-color {
  color: whitesmoke;
}

#signup-form {
  background-image: url(../images/kuthuvillakujpg.jpg);
  background-size:cover; /* Ensure the background image covers the entire form */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevents it from repeating again */
  background-attachment: fixed;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

.text-input {
 

  width: 100%;
  height: 35px;
  margin: 5px 0 15px 0;
  border: 2px solid #ffa500;
  border-radius: 4px;
  padding: 0 10px;
}

.radio-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.btn-signup {
  margin-top: 15px;
  padding: 8px 20px;
  font-size: 100%;
  background-color: #ffc107;
  color: #333;
  border-radius: 7px;
  border: none;
}
/* Custom Footer styles */

footer li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  padding: 1rem;
  font-size: x-large;
}
