/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Lexend', sans-serif;
    background-color: #7A1A1A;
    color: #333;
}

/* Logo */
#mainlogo {
    width: 100px;
    max-width: 75%;
}

/* Navabr styles */

/* Navbar active element */
.navbar .active {
    border-bottom: 3px solid #FF0000;
}

/* Hover effect for the navbar */
#menu .nav-link:hover {
    border-bottom: 3px solid #FFA500;
}

/* Intro section */

/* Typewriter effect */
.typewriter {
    display: flex;
    justify-content: center;
    margin-top: 0;


}

.typewriter h1 {
    text-align: center;
    padding: 20px 10px;
    font-size: 1.5rem;
    margin-inline: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid black;
    animation: typing 3s steps(22), forwards, blink 1s step-end infinite;
}

/* Typing animation */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Blinking cursor animation */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Intro subtext */
.intro-sub-text {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    padding: 0 20px;
}

/* Intro backdrop */

#bk-drop {
    background-color: #FFA500;
    width: 100%;
}

/* Featured section */

#featured {
     color: white;
}

/* Carousel images */

.carousel-item img {

     height: 400px;
     object-fit: cover;
     border-radius: 20px;
     padding: 10px 10px;
}